@model ToDoList.Models.ViewModels.UserTasksVM

@{
    await Html.RenderPartialAsync("_Used_routes");
}
<h1>Zadatci za korisnika @Model.User.FirstName @Model.User.LastName</h1>

@foreach (var item in Model.ToDos)
{
    <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
    <div>
        <ul>
            <li>Kreirano: @item.CreatedDate</li>
            <li>Obavljeno: @item.CompletedDate</li>
            <li>Pripada temi: @item.Topic.Name</li>
        </ul>
    </div>
    <h3>Opis</h3>
    <p>@Html.DisplayFor(modelItem => item.Description)</p>
    <br />
}